.App {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  background: #f1f5f8;
  background-image: radial-gradient(#00ffc3b3 6.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 1rem; */
}
.heading_title{
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #00ffc3b3;
  font-size: 2rem;  
}
.heading_img {
  width: 35%;
}
.form{
  overflow: hidden;
}
.form_label {
  display: block;
  margin-bottom: 0.5rem;
}
.form_input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  /* border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius:3px 15px; */
  border: solid 3px transparent;
  border-bottom: dashed 3px #ea95e0;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 55%;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.form_input:focus{
  outline: none;
  border: solid 3px #ea95e0;
}
.todo_btn{
  color:#0abe5bd7;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 2rem;
  border-radius: 20%;
  border: none;
  background: transparent;
}
.todo_btn:hover{
  background: transparent;
  color:  #00ffc3b3;
  outline: none;
}
.todo_btn:focus{
  outline: none;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #0abe5bd7;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  cursor: pointer;
  width: 8rem;
  padding: 0.5rem;
}
.select::after {
  content: "\25BC";
  font-size: 1rem;
  position: absolute;
  right: 0;
  padding: 0.6rem;
  background: #0abe5bd7;
  cursor: pointer;
  pointer-events: none;
  margin-top: 4px;
  color: #ffffff;
}
.todo_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo_list{
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: transparent;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.trash_btn,
.complete_btn {
  background: #ff6f47;
  color: white;
  border: none;
  border-radius: 7%;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete_btn {
  background: rgb(11, 212, 162);
}
.todo_item {
  padding: 0rem 10rem 0rem 0rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transition: all 1s ease-in-out;
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through wavy #0abe5bd7;
  opacity: 0.5;
}

@media only screen and (max-width: 500px) {
  .heading_title{
    font-size: 1.5rem;
  }

}