@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color:  #00ffc3b3;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 1.2rem;  
}
ul{
  list-style: none;
}
li{
  text-decoration: none;
}


@media only screen and (min-width: 500px) {
  body {
    min-height: 100vh;
  }
}